
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

.montserrat-variable {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .corinthia-regular {
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .corinthia-bold {
    font-family: "Corinthia", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  body {
  
      margin: 0;
      padding : 0;
      font-family: "Work Sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      line-height: 1.25;
      background-color: white;
      color: darkgreen;
      margin-left: auto;
      margin-right: auto;
    }
    
  

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header {
    color: black;
    background-color: white;
    margin-top: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header__logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .header__logo {
    height: 75px;
    width: auto;
    padding: 0; 
  }
  
  .header-navigation__tabs {
    position: relative;
  }
  
  .header-navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
  }
  
  .header-navigation__button {
      color: black;
      font-size: 1.3rem;
      padding: 0px 12px;
      text-decoration: none; 
      display: block;
      white-space: nowrap;
      
  }
  
  .header-navigation__button:hover {
      text-decoration: underline;
  }
  .header-navigation__button:active {
      text-decoration: underline;
  }
  .header-navigation__button:visited {
      text-decoration: none;
  }

  .header-navigation__link {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    white-space: nowrap;
  
  }
  
  .header-navigation__link:hover {
    background-color: #AA0000;
  }

  /* prepinac CS/EN */

 .language-switcher {
  text-align: right;
  margin-top: 0.1rem;
  margin-right: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.language-switcher a {
  text-decoration: none;
  color: black; /* nebo jiná barva podle pozadí */
  margin-left: 0;
}

@media (max-width: 1099px) {
  .language-switcher {
    text-align: center;
    font-size: 0.9rem;
    margin-right: 0;
  }
}
  
/*hamburger menu moje noční můra */
.menu__checkbox {
  position: absolute;
  left: -9999px;                   /*display none */
}

.menu__toggler {
  cursor: pointer;
  color: black;
  
  font-size: 2.5rem;
  
  
}

.header-navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
}

.header-navigation__tabs {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 300;
  font-style: normal;
}

.header-navigation__button {
  font-weight: 300;
    font-style: normal;
    padding: 10px 15px;
    
}
.header-navigation__link {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.header-navigation__link:hover {
  background-color: #AA0000;
}

.menu__checkbox:checked ~ .header-navigation__list {
  display: block

}
.header__logo {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  height: 80px; /* Výška loga */
}
.header__logo-container {
  display: inline;
  text-align: center;
}

@media screen and (max-width: 1099px) {
  .header-navigation__button:hover {
    text-decoration: none;
}
.header-navigation__button:active {
    text-decoration: none;
}

  
}

@media screen  and (min-width: 1100px) {
  .menu__toggler {
    display: none; /* Skryje checkbox na větších obrazovkách */
  }
  .header-navigation__list {
    display: flex !important ;/* Zobrazí menu jako flexbox */
    flex-direction: row; /* Horizontální uspořádání */
    justify-content: center; /* Zarovná položky na střed */
  }
  .header-navigation__link {
    padding: 15px; /* Větší padding pro desktop */
  }

  .header-navigation__tabs {
    border-bottom: none; /* Odstraní spodní okraj na desktopu */
    margin-top: 0; /* Odstraní horní okraj na desktopu */
    margin-bottom: 0; /* Odstraní spodní okraj na desktopu */
  }

  .header-navigation__button {
    margin-top: 0;
    font-weight: 300;
    font-style: normal;
  }

  .header__logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
}
.main-title {
    font-size: 180px;
    font-family: Corinthia;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin: 0;

  }
.motto {
  font-size: 40px;
  font-family: Corinthia;
    font-style: italic;
    font-weight: 500;
    text-align: center;

}

  @media screen  and (min-width: 600px) {
    .footer-copyright {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
    }
      }
    
    .footer-copyright__creator {
      color: black;
      font-size: 14px;
      font-weight: 300;
      text-transform: none;
    }
    
    .footer-copyright__pavla {
      color: black;
      font-size: 14px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0;
    }

    .footer-copyright {
      background-color: white;
      color: black;
      text-align: center;
      padding: 20px;
      font-size: 14px;
      margin-top: 40px;
    }

    .sluzby {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
    }

    .foto-1 {
      flex-basis: 64%;
      position: relative;
    }

    .foto-1__popis {
      position: absolute;
      right: 40px; bottom: 20px;
      color: white;
      font-family: Corinthia;
      font-size: 60px;
      margin: 0;
    }

    .foto-2 {
      flex-basis: 36%;
      position: relative;
      display: inline-block;
    }

    .foto-2 img {
      display: block;
      width: 100%;
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba(0,0,0,0.4); /* černý průhledný filtr */
    }
    
    

    .foto-2__popis {
      position: absolute;
      left: 20px; top: 10px;
      margin: 0;
      color: white;
      font-family: Corinthia;
      font-size: 2rem;
      font-weight: bold;

    }

    img { 
      display: block;
      width: 100%;

    }